<appSettings>
  <add key="MailServer" value="test-smtp.vidly.com" />
  <add key="FacebookAppId" value="331862947956626" />
  <add key="FacebookAppSecret" value="af411be501e6a89b7f61f8878590ec98" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>